// fonts
$primary_font: "Open Sans", 'Roboto', 'Segoe UI','Arial', sans-serif;
$secondary_font: 'Montserrat', sans-serif;

//colors
$primary_color: #282828;
$secondary_color: #0D274D;
$dark_color: #000000;
$light_color: #FFFFFF;
$success_color: #0E9A0B;
$active_color: #00BCEB;
$active-light_color: rgba(0, 187, 234, 0.4);

// break points
$break-point_s: 480px;
$break-point_m: 652px;
$break-point_l: 968px;

%reset-text-style {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}